@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-Regular.woff2') format('woff2'),
       url('/fonts/Aeonik-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/fonts/Aeonik-Medium.woff2') format('woff2'),
         url('/fonts/Aeonik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/fonts/Aeonik-Bold.woff2') format('woff2'),
         url('/fonts/Aeonik-Bold.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}




body {
  font-family: 'Aeonik', sans-serif;
}


/* For screens between 867px and 1023px */
@media (min-width: 867px) and (max-width: 1023px) {
  .adjust-867-1023 {
    margin-top: -600px !important;
  }
}
